# API
NEXT_PUBLIC_API_URL="http://localhost:3001/api/v1"

# Supabase — hanya untuk auth di frontend
NEXT_PUBLIC_SUPABASE_URL="https://[PROJECT-REF].supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="your-anon-key"

# Business config
NEXT_PUBLIC_WHATSAPP_NUMBER="628123456789"
NEXT_PUBLIC_STORE_NAME="Sinar Berkat Furniture"